*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Poppins';
  margin: auto;
}

.nav
{
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav ul li
{
  display: inline;
  list-style: none;
  font-weight: bold;
  padding: 5px;
}

.nav ul li a
{
  display: inline;
  text-decoration: underline;
  font-weight: bold;
  color: #000000;
}

.downloader-box
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  padding: 10px;
}

.downloader-box #url-input
{
  border-radius:4px 0px 0px 4px;
  width:30em;
  text-align: left;
  border:2px solid #EEEEEE;
  background: #EEEEEE;
  outline:none;
  font-size:1.3em;
  padding:5px 10px;
}

/* Button style */

button
{
  border-radius:0px 4px 4px 0px;
  border:2px solid #000000;
  background: #000000;
  color:white;
  font-size:1.3em;
  padding:5px 10px;
}
